section {
	display: flex;
	flex-direction: row;

	& div {
		margin: 0 1rem;
	}

	& img {
		border-radius: 2rem;
		min-width: 50%;
		height: auto;
	}
}

@media only screen and (max-width: 1000px) {
	section {
		flex-direction: column;

		& div {
			margin-bottom: 2rem;
		}
	}
}
