video {
	width: 100%;
	border-radius: 1rem;
}

img {
	max-height: 25rem;
	max-width: 100%;
}

.link {
	color: var(--blue);
	text-decoration: none;
	font-size: larger;
}

.post {
	margin-left: 0.5rem;
	color: black;
}
