section {
	display: flex;
	flex-direction: row;
	min-width: 50%;

	& div {
		display: flex;
		flex-direction: column;
		min-width: 50%;

		text-align: center;

		& a {
			text-decoration: none;
			& h2 {
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
			}
		}
	}
}

img {
	border-radius: 1rem;
	max-height: 20rem;
	max-width: 100%;
}

@media only screen and (max-width: 1200px) {
	section {
		flex-direction: column;
		width: 50%;
		margin: auto;

		& div {
			margin: auto;
			margin-bottom: 2rem;
		}
	}
}
